node_modules
dist
.git
.gitignore
.env
.env.*
*.md
.vscode
.idea
.kiro
coverage
*.log
contracts
artifacts
cache
scripts
hardhat.config.cjs
deployment.json
infra
.azure
azure.yaml
